
{% include 'header.html.twig' %}

<form action="rollTwo" method="post">
    <input class="button" type="submit" name="test1" id="test1" value="ROLL" /><br/>
</form>

<form action="resetTwo" method="post">
    <input class="button" type="submit" name="reset" id="reset" value="RESET" /><br/>
</form>

<form action="stopTwo" method="post">
    <input class="button" type="submit" name="stop" id="stop" value="STOP" /><br/>
</form>

<form action="resetscoreTwo" method="post">
    <input class="button" type="submit" name="score" id="score" value="RESET SCORE TABLE" /><br/>
</form>

<table>
<tr>
<th>Roll 1</th>
<th>Roll 2</th>
<th>Total</th>
</tr>
<tr>
  <th>{{ message }}</th>
  <th>{{ message2 }}</th>
  <th>{{ totale }}</th>
</tr>

</table>
<h3> {{ realmessage }} </h3>
<table>
{% for key,value in historik %}

    <tr>
    <th>Vinnare</th>
    <th>Runda</th>
    </tr>
    <tr>
      <th>{{ historik[key]['vinnare'] }} </th>
      <th>{{ historik[key]['runda'] }}</th>
    </tr>

{% endfor %}
    </table>
<?php

{% include 'footer.html.twig' %}
