<html>
    <head>
      <meta charset="UTF-8">
      <title>Welcome!</title>
      <link href="{{ asset('style.css') }}" rel="stylesheet" />
    </head>
    <body>
      <header>
          <nav>
              <a href="{{ path('dice-try') }}">Test</a> |
              <a href="{{ path('dice-game') }}">21</a> |
              <a href="{{ path('books-index') }}">Books</a> |
              <a href="{{ path('highscore') }}">Highscore</a> |
          </nav>
      </header>
